.App {
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.subject {
  position: relative; 
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-width: 300px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px; 
  height: 20px;
  padding: 0; 
  background-color: transparent; 
  border: none;
}

.subject h2 {
  margin-top: 0;
}

.subject p {
  margin: 5px 0;
}

.subject button {
  margin-top: 10px;
}

#attendance-table {
  margin-top: 20px;
}

.download-pdf {
  margin-top: 20px;
}

div.features{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: +1;

}

div.percentage{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: +1;
  background-color: #45a049;
}
.watermark {
  position: fixed;
  font-family: Arial, sans-serif;
  font-size: 20px;
  top: 97%;
  right: 1%;
  font-size: 20px;
  color: rgba(28, 248, 120, 0.5);
}
